.registration-modal-box{
    position: absolute;
    width: 350px;
    min-height: 50%;
    top: 50%;
    left: 50%;
    border: '2px solid #112';
    box-shadow: 24;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #000;
    padding: 15px;
    text-align: center;
    box-shadow:rgb(163, 29, 163) 0px 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }
.registration-modal-button{
    margin: 8px;
    font-size: 11px;
}
.MuiFormHelperText-root {
    font-size: small;
  }
  .MuiAlert-message{
    font-size: small;
}
.MuiInputBase-input {
    font-size: 15px;
}
@media(max-width:480px){
  .registration-modal-box{
  width:90%;
  
  }
}
